@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Oceanwide";
    src: local("Oceanwide"), url("./assets/fonts/oceanwide-cufonfonts/Oceanwide-Semibold.otf") format("truetype");

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oceanwide', sans-serif !important;
    color: white;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


