@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Oceanwide";
    src: local("Oceanwide"), url("../fonts/oceanwide-cufonfonts/Oceanwide-Semibold.otf") format("truetype");
    src: local("Poppins"), url("../fonts/Poppins//Poppins-Regular.ttf") format("truetype");


}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    font-family: 'Oceanwide', sans-serif !important;
    scroll-behavior: smooth;
}

#delivery{
    font-family: 'Poppins', sans-serif !important;

}

